header {
  padding: 100px;
  background-size: initial;
  background-position: center;
  background-attachment: initial;
  background-position: 80%;
  background-image: url("../images/Header-Pic.jpeg");
    
  top: 0;
  
  z-index: 9999;
  height: 70px;
    
  text-align: right;
  font-size: 25px;
  
}

#headerH1 {
  padding: 10px;
}

h1 {
  line-height: 1px;
  font-style: italic;
  flex-wrap: wrap;
}


.wind-image {
  padding: 100px 0px 0px 0px;
  width: 100%;
  height: auto;
  
}


#parkCode {
  display: none;
}



