header {
    background: rgb(105, 107, 211);
    position:sticky;
    top: 0;
  
    z-index: 9999;
    height: 70px;
    
    text-align: center;
    font-size: 25px;
    color:rgb(253, 253, 253);
  }

  /* .titleName {
background-color: yellow;
  } */



#parkCode {
  display: none;
}

.color0 {
background-color: rgb(103, 185, 103);

}
.color2 {
  background-color: rgb(226, 219, 123);
  
  }
.color4 {
    background-color: rgb(120, 171, 230);
    
    }
.color6 {
      background-color: rgb(191, 157, 223);
        }
.color8 {
background-color: rgb(235, 135, 104);
        }
.color10 {
background-color: rgb(103, 192, 162);
        }
.color12 {
background-color: rgb(230, 214, 120);    
       }
.color14 {
background-color: rgb(137, 231, 195);
        }      
.color15 {
border-bottom: 2px solid black;
        }
